<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399321958864-59ekedtj4obbo1f0c4fv7bp6e9hveiji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399321958864-59ekedtj4obbo1f0c4fv7bp6e9hveiji</string>
	<key>API_KEY</key>
	<string>AIzaSyD908GC4fP-M0sRuA2yEf7jaObrE1fA6Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>399321958864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-62918</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-62918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399321958864:ios:5a0dc9ed41ce084f4391d5</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-list-62918-default-rtdb.firebaseio.com</string>
</dict>
</plist>